body {
    background: linear-gradient(to bottom, grey, rgb(207, 203, 203));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 270px;
    width: fit-content;
}

.card-text {
    color: green;
    box-shadow: 4px 4px 2px gray;
    border-radius: 10px;
}

.card {
    box-shadow: 5px 5px rgba(139, 138, 138, 0.4);
    border-radius: 10px;
}

h5 {
    box-shadow: 4px 4px 2px gray;
    border-radius: 10px;
}

h1 {
    text-shadow: 2px 2px grey;
    margin-bottom: 2%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#sup{
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 50%;
}